body{
    margin-left: 0%;
    padding-top: 10%;
    background-color: rgb(244, 216, 252);
    background-image: url(./assets/pexels-philippe-donn-1257860.jpg);
    background-size: contain;
    font-size: 62.5%;
    text-align: center;
    color: #fff;
}
p{
    margin-top: 2%;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
img{
    margin: 2%;
    padding: 0;
    max-width: 50%;
    background-color: #fff;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    box-shadow:
          inset 0 0 50px #fff,
          inset 20px 0 80px #f0f,
          inset -20px 0 80px #0ff,
          inset 20px 0 300px #f0f,
          inset -20px 0 300px #0ff,
          0 0 50px #fff,
          -10px 0 80px #f0f,
          10px 0 80px #0ff;

}
.container{
    margin: auto;
    padding: 0;
}
label, #title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 5rem;
    padding: 1%;
}
#title, #ui-id-1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 239, 239);
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}
ul, p{
    font-size: 2rem;
}
.ui-autocomplete-input{
    text-align: center;
}
label{
    margin-bottom: 5%;
}
input {
    font-size: 3rem;
    margin-top: 2rem;
    width: 45%;
    border: solid 2px #000;
    border-right: 1px solid #353535;
    border-bottom: 1px solid #353535;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
}

li{
    list-style: none;
    font-size: 3rem;
    padding:0;
}

